.control_table{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.box_dropdown_control_table{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.tabel {
    overflow-x: auto;
    max-height: 80vh;
  }
 