
.tools_box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
}

.title{
    font-size: 25px ;
    font-weight: 700;
    
}
.tool{
    margin-bottom: 15px;
    font-size: 20px;
}
.polygon_close{
    background-color: #ffb476;
}

.save_logo{
  font-size: 20px;
}