.tools_box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
}

.title{
    font-size: 25px ;
    font-weight: 700;
    
}
.tool{
    margin-bottom: 15px;
    font-size: 20px;
}
.polygon_close{
    background-color: #ffb476;
}
.upload_button {
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 5px;
  background-color: white;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  min-width: 125px;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow,background-color 1s ease-in-out; 
}

.upload_button:hover {
  background-color: rgb(19,25,87);
  color: #ffffff;
  box-shadow: rgba(80, 147, 255, 0.35) 0px 5px 15px;
  font-size: 1rem;
}

.upload_button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.upload_button:focus-visible {
  box-shadow: none;
}


.Save_button{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 5px;
  background-color: white;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  min-width: 125px;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow,background-color 1s ease-in-out; 
}

.Save_button:hover{
  background-color: rgb(245, 94, 7);
  color: #ffffff;
  box-shadow: rgba(253, 118, 87, 0.35) 0px 5px 15px;
  font-size: 1rem;
}

.save_logo{
  font-size: 20px;
}